<body class="backgroundhome">
	<header>
		<div class="socialmedia">
			<a href="http://www.twitter.com/beaguju"><%= image_tag "twitterb.png", :class => "icon" %></a>
			<a href="https://www.facebook.com/GuJuLi"><%= image_tag "facebookb.png", :class => "icon" %></a>
			<a href="http://es.linkedin.com/pub/beatriz-gujuli-murillo/19/615/974/"><%= image_tag "linkedinb.png", :class => "icon" %></a>
			<a href="https://www.google.com/+BeatrizGujuliMurillo"><%= image_tag "googleb.png", :class => "icon" %></a>
			<a href="https://wordpress.com"><%= image_tag "mailb.png", :class => "icon" %></a>
		</div>
	</header>
<section>
	<div class="reg">

		<h1>Snippets.</h1>

		<p>Escribe una historia <br>o ayuda a continuar su historia a otro escritor</p>
	
		<%= link_to "Entra", stories_path, :class => "buttonhome" %>

	</div>
</section>
</body>