<body class="bgstory">

<nav class="nav">
	<ul>
		<li class="elemnav1">
			<h2>Snippets.</h2>
		</li>
		<% if user_signed_in? %>

		<li class="elemnav2 buttonsession">
			<%= link_to "About Snippets", about_path %>
			<%= link_to "#{current_user.name}'s pad", user_path(current_user.id) %>
			<%= link_to "Sign out", destroy_user_session_path, class: 'salir', method: :delete %>
		</li>
		
		<% else %>
		
		<li class="elemnav2 buttonsession">
			<%= link_to "About Snippets", about_path %>
			<%= link_to "Sign in", new_user_session_path, :class => "button" %>
			<%= link_to "Sign up", new_user_registration_path, :class => "button" %>
		</li>
		
		<% end %>

	
	</ul>	

</nav>

<section>

<div class="newstory">

	<h2>Edit your story</h2>
</div>

<div class="formstory">

<%= form_for @story do |f| %>
	<%= render partial: 'form', locals: {form: f, is_root: @story.root? } %>
<% end %>

</div>
</section>
</body>