<h1>Create a new story</h1>

<% if flash[:error] %>
	<%= flash[:error] %>
<% end %>

<%= form_for @story do |f| %>
	<%= render partial: 'form', locals: {form: f, is_root: true } %>
<% end %>

<% if user_signed_in? %>
<%= link_to 'Back to your Area', user_path(current_user.id) %>
<% else %>
<%= link_to 'Sign In', new_user_session_path %>
<% end %>

